/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a:-webkit-any-link {
   text-decoration: none;
   color: black;
   font-family: 'Raleyway', sans-serif;
 }

main {
  font-family: 'Raleyway', sans-serif;
}

header {
  /*border: 1px solid black;*/
  width: 100%;
  /*background-color: whitesmoke;*/
  border-bottom: 1px solid gray;
}

header div.title-block {
  display: inline-block;
  margin: 2vh 3vh 2vh 0vw;
}

header h1.title a {
  font-family: 'Unica One', sans-serif, cursive;
  font-size: 3rem;
  display: inline-block;
  display: block;
}

header h1.title a.task {
  font-family: 'Bowlby One SC', sans-serif;;
  font-size: 4.2rem;
  letter-spacing: 10px;
  margin-bottom: -10%;

}

header h1.title a.master {
  text-decoration: overline;
  margin-top: -5%;
  letter-spacing: 14px;
  font-weight: 100;
}

header nav {
  display: inline-block;
  /*border: 1px solid black;*/
  margin-left: 45vw;
  vertical-align: center;
}

header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin-right: 2vw;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1vh;
}

h2.welcome-message {
  text-align: center;
  margin: 3% auto 0 auto;
  letter-spacing: 6px;
  font-family: 'Unica One', sans-serif;
  font-size: 3rem;
  border-bottom: 0.75px solid gray;
  width: 50%;
  padding-bottom: 2%;
}

h2.bottom-welcome {
  border: none;
}
/*
h2.welcome-message a.main-login {
  font-family: 'Unica One', sans-serif;
}*/

h2.welcome-message a.main-login:hover {
  font-weight: 600;
}



h2.to-begin {
  text-align: center;
  margin: 5% auto 5% auto;
  letter-spacing: 6px;
  font-size: 1.7rem;
  width: 80%;
  font-family: 'Raleyway', sans-serif;
  /*font-f*/
}


h3 {
  text-transform: uppercase;
  margin: 2% 0;
}

h3.completed-task {
  text-decoration: line-through;
}

p.go-to-new {
  width: 75%;
  text-align: right;
  margin: auto;
}

.full-form {
  width: 50%;
}

.form_attribute label {
  display: inline-block;
  font-family: 'Raleyway', sans-serif;
  font-size: 1rem;
}

.form_attribute input {
  display: inline-block;
  font-family: 'Raleyway', sans-serif;
  font-size: 1rem;
  font-color: blue;
}

.form_attribute textarea {
  display: inline-block;
  font-family: 'Raleyway', sans-serif;
  font-size: 1rem;
  height: 20%;
}


p.complete-info {
  margin: 1% 5%;
  font-size: 1.2rem;
}

p.complete-info span {
  font-weight: 600;
}
