/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a:-webkit-any-link {
   text-decoration: none;
   color: black;
   font-family: 'Raleyway', sans-serif;
 }

header {
  /*border: 1px solid black;*/
  width: 100%;
  background-color: whitesmoke;
}

header h1.title a {
  font-family: 'Bungee Shade', sans-serif, cursive;
  font-size: 3rem;
  display: inline-block;
  margin: 3vh 5vw;
}

header nav {
  display: inline-block;
  /*border: 1px solid black;*/
  margin-left: 30vw;
  vertical-align: center;
}

header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin-right: 2vw;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1vh;
}
