// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  text-align: center;
  width: 70%;
  margin: 3vh auto;
  padding: 2vh 0;
  border: 2px solid whitesmoke;
  letter-spacing: 0.2em;
}

article:nth-of-type(even) {
  background-color: whitesmoke;
  // border: 2px solid whitesmoke;
}

article p {
  display: inline-block;
}

article .buttons {
  display: inline-block;
}

article .buttons .complete_button_and_star {
  display: inline-block;

}

article .buttons .complete_button_and_star p.complete_button {
  display: inline-block;
  margin: 0;
}
article .buttons .complete_button_and_star p.star {
  display: inline-block;
  margin: 0;
}

.title_block {
  display: block;
}

h2.task_list {
  display: inline-block;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}

form.button_to {
  display: inline-block;
}

form.button_to #complete {
  margin: 0;
}

input {
  display: inline-block;
  margin: 0 1vw;
}

input p.complete_button {
  margin: 0;
}

h1.hello {
  font-family: 'Bungee', 'Raleway', sans-serif;
  font-size: 1.7rem;
  margin: 6vh auto;
  text-align: center;
  width: 50%;
}

.go-to-new {
  padding: 1vh;
  text-align: center;
  margin-left: 78vw;
}
